.div-info-panel{
	padding:2px !important;
}

.div-info{
	padding:2px !important;
	font-weight: normal !important; 
	font-size: unset !important;
}

.div-label{
	padding:2px; 
	text-align:center;
}

#painel-experiencia{
	padding: 1px;
}

.label-titulo-infopanel{
	line-height: 120px;
}

#div-label-nivel-experiencia{
	padding-top:15.5px !important; 
	padding-bottom:0px !important;
}

#div-labels-direita{
	padding-top:0px !important; 
	padding-bottom:14.5px !important
}

.label-direita{
	font-size: 24px !important;
}

#div-label-nivel-reputacao{
	padding-top:15.5px !important; 
	padding-bottom:0px !important;
}

#div-labels-avalicao{
	padding-top:0px !important; 
	padding-bottom:14.5px !important;
}

#avaliacao{
	float: right;
}

#div-label-total-avaliacoes{
	padding: 2px;
	text-align: left;
}

#div-tabela{
	padding:7px !important;
}

#botao-editar-categoria-servico{
	float: right;
}

#botao-concluir-edicao-categoria-servico{
	float: right;
}

.sub-div-info-oferta{
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: center;
}

.titulo-oferta{
	font-size: 18px !important;
}

.sub-div-info-oferta-label{
	font-size: 20px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	text-align: center !important;
}

.sub-div-info-oferta-label-descritiva{
	font-size: 15px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	text-align: center !important;
}

.div-superior-oferta{
	padding: 0px !important;
}

.div-inferior-oferta{
	padding: 0px !important;
}

.botao-novo-lance{
	float: right;
	border-radius: 50px;
	height: 40px !important;
	box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,.26) !important;
}

.label-info-contratante-oferta{
	float:right;
}

.botao-acao-perfil{
	margin: 2px;
	float: right;
}

.div-titulo-oferta{
	padding-bottom: 0px;
}

.div-capacidades-necessarias-oferta{
	padding-top: 5px;
	padding-bottom: 10px;
}

.div-label-capacidades-necessarias-oferta{
	padding: 0px;
}

.label-capacidades-necessarias-oferta{
	padding-top: 0px;	
}

.div-capacidades-oferta{
	padding: 0px;
}

.div-contratante-oferta{
	padding-top: 0px;
}