.div-info-panel{
	padding:2px !important;
}

#div-principal-ofertas{
	margin-top: 5px;
}

#div-painel-reputacao-label-total-avaliacoes{
	padding: 2px;
	text-align: left;
	display: inline-table;
}

#painel-experiencia{
	padding: 1px;
}


#div-label-nivel-experiencia{
	padding-top:15.5px !important; 
	padding-bottom:0px !important;
}

#div-labels-direita{
	padding-top:0px !important; 
	padding-bottom:14.5px !important
}

.label-direita{
	font-size: 24px !important;
}

#div-tabela{
	padding:7px !important;
}

#botao-editar-categoria-servico{
	float: right;
}

.botao-concluir-edicao-categoria-servico{
	float: right;
}

.titulo-oferta{
	font-size: 18px !important;
}

.botao-acao-perfil{
	margin: 2px;
	float: right;
}

.div-contratante-oferta{
	padding-top: 5px;
	padding-bottom: 5px;
}

button[id^="tabelaAssistencias"] > span[class="ui-button-icon-left ui-icon ui-c ui-icon-check"] {
    top: 16px;
    left: 21px;
}
