.div-info-panel{
	padding:2px !important;
}

.div-info{
	padding:2px;
}

.div-label{
	padding:2px; 
	text-align:center;
}

.label-titulo-infopanel{
	line-height: 120px;
}

#div-label-nivel-experiencia{
	padding-top:15.5px !important; 
	padding-bottom:0px !important;
}

#div-labels-direita{
	padding-top:0px !important; 
	padding-bottom:14.5px !important
}

.label-direita{
	font-size: 24px !important;
}

#div-label-nivel-reputacao{
	padding-top:15.5px !important; 
	padding-bottom:0px !important;
}

#div-labels-avalicao{
	padding-top:0px !important; 
	padding-bottom:14.5px !important;
}

#avaliacao{
	width:100px !important; 
	float: right;
}

#div-label-total-avaliacoes{
	padding: 2px;
	text-align: left;
}

#div-tabela{
	padding:7px !important;
}

.label-capacidade{
	border-radius: 2px;
	background: #1976D2;
	color: white;
	padding: 4px;
	margin: 3px !important;
}

#botao-editar-categoria-servico{
	float: right;
}

#botao-concluir-edicao-categoria-servico{
	float: right;
}

.sub-div-info-oferta{
	padding: 0px;
	padding-bottom: 15px;
	padding-top: 10px;
}

.titulo-oferta{
	font-size: 18px !important;
}

.painel-oferta-label{
	font-size: 20px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	text-align: center !important;
}

.painel-oferta-label-descritiva{
	font-size: 15px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	text-align: center !important;
}