@CHARSET "UTF-8";

.barra-superior{
	background: #1976D2 !important;
	margin-bottom: 7px !important;
	box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,.26) !important;
	border: 0px !important;
	overflow: hidden !important;
}

.botao-menu-superior{
	background: #1976D2 !important;
	border: none !important;
	width:48px !important; 
	height:48px !important; 
	cursor:pointer;
}

.botao-menu-lateral:hover{
	background: #1976D2 !important;
}

.botao-menu-lateral:focus{
	outline-color: #1976D2 !important;
    outline-style: none !important;
    outline-width: 0px !important;
}

/*.align-element{ APLICAR NAS <div>s
	height: 50px;
    text-align: center;
    line-height: 2.2em;
}*/

div{
	border-radius: 0px !important;
	box-shadow: none;
}

.painel{
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	overflow-y: hidden !important;
	overflow-x: hidden !important;	
}

#label-rodape{
	color:gray;
}

.combobox{	
	font-weight:normal !important; 
	font-size: 18px !important
}

form{
	overflow: hidden !important;
}

input[type=text]{
    margin: 0px !important;
	box-shadow: none ;
	background: white !important;
    color: #3f3f3f !important;
    border: 1px solid gray !important;
    border-radius: 2px;
    padding: 4px;
	width: 96%;
}

input[type=text]:focus{
	border-color:#1e88e5 !important;
}

textarea{
	margin: 0px !important;
	box-shadow: none ;
	background: white !important;
    color: #3f3f3f !important;
    border: 1px solid gray !important;
    border-radius: 2px;
    height: 100px;
    resize: unset;
}

textarea:focus{
	border-color:#1e88e5 !important;
}

input[type="password"]{
    margin: 0px !important;
	box-shadow: none ;
	background: white !important;
    color: #3f3f3f !important;
    border: 1px solid gray !important;
    border-radius: 2px;
    width: 96%;
}

input[type="password"]:focus{
	border-color:#1e88e5 !important;
}

span[class="ui-inputnumber ui-widget"] > input {
    width: 40% !important;
}

button{
	outline:none !important;
}

label{
	margin-left:10px !important;
	margin-right:10px !important;
}

a{
	letter-spacing: 1px !important;
	text-decoration: none;
	text-shadow: none !important;
	box-shadow: none !important;
	border-radius: 1.5px !important;
	outline: none !important;
}

.link{}

.link:hover{
	color: #1976D2;
}

.span-icone{
	margin:4px; 
	margin-right:0px !important;
}

.span-label{
	padding-top:5px; 
	padding-bottom:5px;
}

.titulo{
	font-weight: bold;
	font-size: 22px !important;
	margin-left: 180px !important;
	color:white; 
}

.info-panel{
	border: 1px solid #78909C;
	border-radius: 4px !important;
	color: white;
	background: #78909C;
	margin: 20px;
	padding: 30px;
	font-weight: bold; 
	font-size: 40px !important;
}

.info-panel:hover{
	/*box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,.26);*/
	/*box-shadow: -15.5px 14.5px 9px -3px rgba(0,0,0,.26); PRINCIPAL*/
	box-shadow: -8.5px 14.5px 9px -3px rgba(0,0,0,.26);
}

.botao-pagina-login{
	background: #43A047 !important;
	color: white !important;
	border: 1px solid #43A047 !important;
	border-radius: 4px !important;
    margin-left: 3px;
    height: 38px !important;
    top: 4px;
}

.botao-pagina-login:hover{
	background: #388E3C !important;
	border: 1px solid #388E3C !important;
}

.botao-pagina-login:active{
	background: #2E7D32 !important;
	border: 1px solid #2E7D32 !important;	
}

#div-pagina-superior{
	height:48px; 
	width: 48px;
}

#painel-login{
	margin-left:35% !important; 
	margin-right:35% !important;
}

#div-label-email{
	margin-bottom: 1px; 
	padding-bottom: 0px;
}

#label-email{
	margin-left:0px !important;
}

#div-campo-email{
	margin-top: 1px; 
	padding-top: 0px;
}

#j_username{
	width: 94%; 
	padding:10px;
}

#div-label-senha{
	margin-bottom: 1px; 
	padding-bottom: 0px;
}

#label-senha{
	margin-left:0px !important;
}

#div-campo-senha{
	margin-top: 1px; padding-top: 0px;
}

#j_password{
	width: 94%; padding:10px;
}

#botao-entrar{
	width: 100%; padding:15px;
}

#div-titulo-login{
	padding-top: 0px; 
	margin-left: 35% !important; 
	margin-right: 35% !important; 
	text-align: center;
}

#div-titulo-um-login{
	padding-bottom: 0px; 
	padding-top: 0px;
}

#titulo-um-login{
	font-family:'Roboto Condensed Light', sans-serif; 
	font-size:50px; 
	float: left;
}

#div-titulo-dois-login{
	padding-top: 0px;
}

#titulo-dois-login{
	font-family:'Roboto Condensed Light', sans-serif; 
	font-size:50px; 
	float:right;
}

#p-layout-central{
	height:100%;
}

.div-info-reputacao{
	padding: 1px;
}

.mega-menu-visivel{	
	border-right: 1px solid lightgray !important;
}

.mega-menu-oculto{
	border-right: 0px solid white !important;
}

#mega-menu-lateral{
	text-align: right !important; 
	min-width:230px !important
}

#layout-unit-rodape{
	text-align:center; 
	border-top:1px solid lightgray !important;
}

#div-titulo-cadastro{
	width: 600px;
	height: 48px;
	padding-top: 10px;
	padding-left: 48px;
}

#div-formulario-cadastro{
	margin-left: 20% !important; 
	margin-right: 20% !important;
}

.fieldset{
	margin-bottom: 20px;
}

.campo-formulario{
	text-align:center; 
}

.componente-acao-cadastro-usuario{
	float:right;
}

.background-login{
	background: url('../images/background-login.png') repeat !important;
}

.botao-logout{
	bottom: 5px;
	right: 5px;
}

.label-descricao-qualidades{
	font-size: 15px;
	color: gray;
	margin: unset !important;
}

.dialog{
	margin-left: 25%;
	margin-right: 25%;
	width: unset !important;
	left: unset !important;
}

.botao-dialog{
	margin: 2px;
	float: right;
}

.botao-proposta{
	float:right;
	margin: 2px;	
}

div[class="ui-g-3 div-info-usuario-servico"] > div[class="ui-rating"] > div[class="ui-rating-star ui-rating-star-on"] > a {
    background-position: 0 -65px !important;
}

div[class="ui-g-2 sub-div-info-servico"] > div[class="ui-rating"] > div[class="ui-rating-star ui-rating-star-on"] > a {
    background-position: 0 -65px !important;
}

.label-capacidade{
	border-radius: 5px;
	background: #1976D2;
	color: white;
	padding: 4px;
	margin: 2px !important;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

.ul-capacidades{
	padding: unset;
	margin: unset;
}

.ui-separator{
	border: unset !important;
	border-top: 1px solid lightgray !important;
}

a.ui-datepicker-prev.ui-corner-all:hover{
	background: unset;
    border: unset;
    top: 2px;
    left: 2px;
    cursor: pointer;
}

a.ui-datepicker-next.ui-corner-all:hover{
	background: unset;
    border: unset;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

.ui-chkbox-box:hover{
	cursor: pointer !important;
}

a[class="ui-spinner-button ui-spinner-down ui-corner-br ui-button ui-widget ui-state-default ui-button-text-only"] > span[class="ui-button-text"] > span:after{
	content: '\e63b';
	top: 5px !important;
	left: 8px !important;
}

a[class="ui-spinner-button ui-spinner-down ui-corner-br ui-button ui-widget ui-state-default ui-button-text-only ui-state-hover"] > span[class="ui-button-text"] > span:after{
	content: '\e63b';
	top: 5px !important;
	left: 8px !important;
}

a[class="ui-spinner-button ui-spinner-down ui-corner-br ui-button ui-widget ui-state-default ui-button-text-only ui-state-active"] > span[class="ui-button-text"] > span:after{
	content: '\e63b';
	top: 5px !important;
	left: 8px !important;
}

a[class="ui-spinner-button ui-spinner-up ui-corner-tr ui-button ui-widget ui-state-default ui-button-text-only"] > span[class="ui-button-text"] > span:after{
	content: '\e637';
	top: 5px !important;
	left: 8px !important;
}

a[class="ui-spinner-button ui-spinner-up ui-corner-tr ui-button ui-widget ui-state-default ui-button-text-only ui-state-hover"] > span[class="ui-button-text"] > span:after{
	content: '\e637';
	top: 5px !important;
	left: 8px !important;
}

a[class="ui-spinner-button ui-spinner-up ui-corner-tr ui-button ui-widget ui-state-default ui-button-text-only ui-state-active"] > span[class="ui-button-text"] > span:after{
	content: '\e637';
	top: 5px !important;
	left: 8px !important;
}

html .ui-spinner .ui-spinner-input{
	padding: 4px !important;
	width: 84%;
}

.ui-spinner-input {
    vertical-align: middle;
    text-align: center;
    padding-right: unset;
}

.ui-spinner .ui-spinner-input{
	left: 89%;
}

.div-painel-label{
	padding:2px; 
	text-align:center;
	display: inline-table;
}

/* INICIO PAINEL REPUTAÇÃO */
.painel-info-label-titulo{
	line-height: 120px;
}

#div-painel-reputacao-label-nivel-reputacao{
	padding-top:15.5px !important; 
	padding-bottom:0px !important;
}

#div-painel-reputacao-labels-avalicao{
	padding-top:0px !important; 
	padding-bottom:14.5px !important;
}


#painel-reputacao-valor-reputacao{
	float: right;
}
/* FINAL PAINEL REPUTACAO */

.div-info-painel{
	padding:2px !important;
	font-weight: normal !important; 
	font-size: unset !important;
}

.sub-div-info-servico-label{
	font-size: 20px !important;
	padding-bottom: unset !important;
	padding-top: unset !important;
	text-align: center !important;
	border-radius: 5px;
}

.sub-div-info-servico-label-descritiva{
	font-size: 15px !important;
	padding-bottom: unset !important;
	padding-top: unset !important;
	text-align: center !important;
}

.sub-div-superior-servico{
	padding: unset;
}

.div-info-usuario-servico{
	padding: unset !important;
}

.botao-iniciar-negociacao{
	float: right;
	border-radius: 50px;
	height: 40px !important;
	box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,.26) !important;
}

.label-info-usuario-servico{
	float:right;
}

.div-superior-servico{
	padding-bottom: unset;
}

.div-capacidades-servico{
	padding-top: unset;
	padding-bottom: unset;
}

.div-endereco-servico{
	padding-top: 4px;
	padding-bottom: 3px;
}

.div-label-capacidades-servico{
	margin-top: 2px;
	padding: unset;
	display: inline-table;
}

div[class="ui-g-1 div-label-capacidades-servico"] > label{
	marging-rigth: unset !important;
}

.sub-div-info-servico{
	padding-bottom: 5px;
	padding-top: 10px;
	text-align: center;
	display: inline-table;
}

ul[class="ui-chips-container ui-inputfield ui-state-default ui-corner-all"] {
    background: white !important;
    border: 1px solid gray !important;
}

ul[class="ui-chips-container ui-inputfield ui-state-default ui-corner-all ui-state-hover"] {
    background: white !important;
    border: 1px solid gray !important;
}

ul[class="ui-chips-container ui-inputfield ui-state-default ui-corner-all ui-state-hover ui-state-focus"] {
    background: white !important;
    border: 1px solid gray !important;
}

ul[class="ui-chips-container ui-inputfield ui-state-default ui-corner-all ui-state-focus"] {
    background: white !important;
    border: 1px solid gray !important;
}

ul[class="ui-chips-container ui-inputfield ui-state-default ui-corner-all ui-state-focus ui-state-hover"] {
    background: white !important;
    border: 1px solid gray !important;
}

li[class="ui-chips-input-token" ] > input {
	border: unset !important;
}

li[class="ui-chips-token ui-state-active ui-corner-all"] > span[class="ui-chips-token-icon ui-icon ui-icon-close"]{
	top: 8px;
}

div[class="ui-outputpanel ui-widget ui-g info-panel div-info-painel"]:hover {
	/*margin-top: 1% !important; PRINCIPAL*/
	margin-top: -1% !important;
	margin-right: 0% !important;
	margin-left: 3% !important;
	margin-bottom: 4% !important;
}

/*ADMIN*/
div[class="ui-outputpanel ui-widget info-panel div-info-panel-adm"]:hover {
    margin-left: 1%;
    margin-bottom: 3%;
    margin-right: 0%;
    margin-top: 1%;
}
/*ADMIN*/

/*Assistente experiencia*/
div[id="painel-experiencia"] {
	margin: 5px !important;
}

div[id="painel-experiencia"]:hover {
	margin-top: 0% !important;
	margin-right: 0% !important;
	margin-left: 2% !important;
	margin-bottom: 1% !important;
}
/*Assistente experiencia*/

/*painel reputacao*/
div[class="ui-outputpanel ui-widget info-panel ui-g div-info-reputacao"] {
    margin: 5px !important;
}

div[class="ui-outputpanel ui-widget info-panel ui-g div-info-reputacao"]:hover {
	margin-top: 0% !important;
	margin-right: 0% !important;
	margin-left: 2% !important;
	margin-bottom: 1% !important;
}
/*painel reputacao*/
