@CHARSET "UTF-8";

.barra-superior{
	background: #1976D2 !important;
	margin-bottom: 7px !important;
	box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,.26) !important;
	border: 0px !important;
	overflow: hidden !important;
}

.botao-menu-superior{
	background: #1976D2 !important;
	border: none !important;
	width:48px !important; 
	height:48px !important; 
	cursor:pointer;
}

.botao-menu-lateral:hover{
	background: #1976D2 !important;
}

.botao-menu-lateral:focus{
	outline-color: #1976D2 !important;
    outline-style: none !important;
    outline-width: 0px !important;
}

.align-element{ /*APLICAR NAS <div>s*/
	height: 50px;
    text-align: center;
    line-height: 2.2em;
}

div{
	border-radius: 0px !important;
	box-shadow: none;
}

.painel{
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	overflow-y: hidden !important;
	overflow-x: hidden !important;	
}

.combobox{	
	font-weight:normal !important; 
	font-size: 18px !important
}

form{
	overflow: hidden !important;
}

input[type=text]{
    margin: 0px !important;
	box-shadow: none ;
	background: white !important;
    color: #3f3f3f !important;
    border: 1px solid gray !important;
    border-radius: 2px;
}

input[type=text]:focus{
	border-color:#1e88e5 !important;
}

textarea{
	margin: 0px !important;
	box-shadow: none ;
	background: white !important;
    color: #3f3f3f !important;
    border: 1px solid gray !important;
    border-radius: 2px;
    height: 100px;
    resize: unset;
}

textarea:focus{
	border-color:#1e88e5 !important;
}

input[type="password"]{
    margin: 0px !important;
	box-shadow: none ;
	background: white !important;
    color: #3f3f3f !important;
    border: 1px solid gray !important;
    border-radius: 2px;
}

input[type="password"]:focus{
	border-color:#1e88e5 !important;
}

button{
	outline:none !important;
}

label{
	margin-left:10px !important;
	margin-right:10px !important;
}

a{
	letter-spacing: 1px !important;
	text-decoration: none;
	text-shadow: none !important;
	box-shadow: none !important;
	border-radius: 1.5px !important;
	outline: none !important;
}

.link{}

.link:hover{
	color: #1976D2;
}

.span-icone{
	margin:4px; 
	margin-right:0px !important;
}

.span-label{
	padding-top:5px; 
	padding-bottom:5px;
}

.titulo{
	font-weight: bold;
	font-size: 22px !important;
	margin-left: 180px !important;
	color:white; 
}

.info-panel{
	border: 1px solid #78909C;
	border-radius: 4px !important;
	color: white;
	background: #78909C;
	margin: 5px;
	padding: 40px;
	font-weight: bold; 
	font-size: 40px !important;
}

.info-panel:hover{
	box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,.26);
}

.botao-pagina-login{
	background: #43A047 !important;
	color: white !important;
	border: 1px solid #43A047 !important;
	border-radius: 4px !important;
    margin-left: 3px;
    height: 38px !important;
    top: 4px;
}

.botao-pagina-login:hover{
	background: #388E3C !important;
	border: 1px solid #388E3C !important;
}

.botao-pagina-login:active{
	background: #2E7D32 !important;
	border: 1px solid #2E7D32 !important;	
}

#div-pagina-superior{
	height:48px; 
	width: 48px;
}

#painel-login{
	margin-left:35% !important; 
	margin-right:35% !important;
}

#div-label-email{
	margin-bottom: 1px; 
	padding-bottom: 0px;
}

#label-email{
	margin-left:0px !important;
}

#div-campo-email{
	margin-top: 1px; 
	padding-top: 0px;
}

#j_username{
	width: 94%; 
	padding:10px;
}

#div-label-senha{
	margin-bottom: 1px; 
	padding-bottom: 0px;
}

#label-senha{
	margin-left:0px !important;
}

#div-campo-senha{
	margin-top: 1px; padding-top: 0px;
}

#j_password{
	width: 94%; padding:10px;
}

#botao-entrar{
	width: 100%; padding:15px;
}

#div-titulo-login{
	padding-top: 0px; 
	margin-left: 35% !important; 
	margin-right: 35% !important; 
	text-align: center;
}

#div-titulo-um-login{
	padding-bottom: 0px; 
	padding-top: 0px;
}

#titulo-um-login{
	font-family:'Roboto Condensed Light', sans-serif; 
	font-size:50px; 
	float: left;
}

#div-titulo-dois-login{
	padding-top: 0px;
}

#titulo-dois-login{
	font-family:'Roboto Condensed Light', sans-serif; 
	font-size:50px; 
	float:right;
}

#p-layout-central{
	height:100%;
}

.div-info-reputacao{
	padding: 1px;
}

.mega-menu-visivel{	
	border-right: 1px solid lightgray !important;
}

.mega-menu-oculto{
	border-right: 0px solid white !important;
}

#mega-menu-lateral{
	text-align: right !important; 
	min-width:230px !important
}

#layout-unit-rodape{
	text-align:center; 
	border-top:1px solid lightgray !important;
}

#div-titulo-cadastro{
	width: 600px;
	height: 48px;
	padding-top: 10px;
	padding-left: 48px;
}

#div-formulario-cadastro{
	margin-left: 20% !important; 
	margin-right: 20% !important;
}

.fieldset{
	margin-bottom: 20px;
}

.campo-formulario{
	text-align:center; 
	width:97%;
}

.componente-acao-cadastro-usuario{
	float:right;
}

.background-login{
	background: url('../images/background-login.png') repeat !important;
}

.botao-logout{
	bottom: 5px;
	right: 5px;
}

.label-descricao-qualidades{
	font-size: 15px;
	color: gray;
	margin: unset !important;
}

.dialog{
	margin-left: 25%;
	margin-right: 25%;
	width: unset !important;
	left: unset !important;
}

.botao-dialog{
	margin: 2px;
	float: right;
}

.botao-proposta{
	float:right;
	margin: 2px;	
}

div[class="ui-g-3 div-inferior-oferta"] > div[class="ui-rating"] > div[class="ui-rating-star ui-rating-star-on"] > a {
    background-position: 0 -65px !important;
}

