@CHARSET "UTF-8";

.barra-superior{
	background: #1976D2 !important;
	margin-bottom: 7px !important;
	box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,.26) !important;
	border: 0px !important;
	overflow: hidden !important;
}

.botao-menu-lateral{
	background: #1976D2 !important;
	border: none !important;
}

.botao-menu-lateral:hover{
	background: #1976D2 !important;
}

.botao-menu-lateral:focus{
	outline-color: #1976D2 !important;
    outline-style: none !important;
    outline-width: 0px !important;
}

.align-element{ /*APLICAR NAS <div>s*/
	height: 50px;
    text-align: center;
    line-height: 2.2em;
}

div{
	border-radius: 0px !important;
	box-shadow: none;
}

.painel{
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	overflow-y: hidden !important;
	overflow-x: hidden !important;	
}

form{
	overflow: hidden !important;
}

input[type=text]{
    margin: 0px !important;
	box-shadow: none ;
	background: white !important;
    color: #3f3f3f !important;
    border: 1px solid gray !important;
    border-radius: 2px;
}

input[type=text]:focus{
	border-color:#1e88e5 !important;
}

input[type="password"]{
    margin: 0px !important;
	box-shadow: none ;
	background: white !important;
    color: #3f3f3f !important;
    border: 1px solid gray !important;
    border-radius: 2px;
}

input[type="password"]:focus{
	border-color:#1e88e5 !important;
}

button{
	outline:none !important;
}

label{
	margin-left:10px !important;
	margin-right:10px !important;
}

a{
	letter-spacing: 1px !important;
	text-decoration: none;
	text-shadow: none !important;
	box-shadow: none !important;
	border-radius: 1.5px !important;
	outline: none !important;
}

.span-icone{
	margin:4px; 
	margin-right:0px !important;
}

.span-label{
	padding-top:5px; 
	padding-bottom:5px;
}

.titulo{
	font-weight: bold;
	font-size: 22px !important;
	margin-left: 180px !important;
	color:white; 
}

.info-panel{
	border:none;
	color: white;
	background: #78909C;
	margin: 5px;
	padding: 40px;
	
	font-weight: bold; 
	font-size: 40px !important;
}

.info-panel:hover{
	box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,.26);
}

.botao-pagina-login{
	background: #43A047 !important;
	color: white !important;
	border: 1px solid #43A047 !important;
	border-radius: 5px !important;
    margin-left: 3px;
    height: 38px !important;
    top: 4px;
}

.botao-pagina-login:hover{
	background: #388E3C !important;
	border: 1px solid #388E3C !important;
}

.botao-pagina-login:active{
	background: #2E7D32 !important;
	border: 1px solid #2E7D32 !important;	
}