@CHARSET "UTF-8";

/*fonte*/
.ui-widget{
	font-family:'Roboto Condensed', sans-serif;
}

/*fonte-campo-texto*/
.ui-widget-content .ui-inputfield{
	font-family:'Roboto Condensed', sans-serif;
}

/*fonte-botões*/
.ui-button .ui-button-text{
	font-family:'Roboto Condensed', sans-serif;
}

/*Cabecalho/Rodapé*/
.ui-layout-north{
	padding: 0px !important;
	margin: 0px !important;
	border: none !important;
}

.ui-menu, .ui-menu-child{
	padding: 0px !important;
}

.ui-menu .ui-menuitem-link {
    display: block;
    text-decoration: none;
    font-weight: 200;
    border: solid 1px transparent;
    float: left;
    line-height: 28px;
    padding: .3em;
    cursor: pointer;
}

.ui-menubar .ui-menuitem-link {
    width: auto;
    min-width: 230px;
}

.ui-menubar{
	border: none !important;
	padding: 0px !important;
	min-width: 230px;
}

.ui-layout-unit-content{
	padding: 0px !important;
	margin: 0px !important;
}

.ui-layout-pane-north{
	padding: 0px !important;
	margin: 0px !important;
}

/*Cabeçalho tabela*/
.ui-datatable .ui-datatable-header{
	border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

/*paginator-bottom*/
.ui-paginator.ui-paginator-bottom{
	border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/*Cabeçalho painel*/
.ui-panel .ui-panel-titlebar{
	border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    text-align: center;
}

/*painel*/
.ui-panel{
	border-radius: 4px !important;
	border: 1px solid lightgray !important;
}

.ui-widget-header {
	border:none;
	font-weight:normal;
}

/*menus*/
.ui-menuitem-link {
    text-align: left;
}

.ui-menuitem-text{
	margin-left:8px;
	margin-right: 8px;
}

.ui-menuitem-icon{
	height: 24px !important; 
	width: 24px !important;  
	margin: 5px;            
	cursor: pointer;
	border-radius: 0px !important;
}

/*datepicker*/
.ui-datepicker{
	border: 0.5px solid #00C853;;
}

/*sombra*/
.ui-shadow {
	-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: 2.5px 2.5px 5px 0px rgba(0,0,0,.26) !important;
}

/*combobox*/
.ui-selectonemenu .ui-selectonemenu-trigger{
    width: 24px;
    height: 100%;
    top: -1px;
    padding: 0px 8px 0px 3px;
}

/*panel*/
.ui-widget-content{
	border: 1px solid lightgray;
}

/*icones*/
.ui-button-text-icon-left .ui-icon{
	top: 0.2em;
}

.ui-button-icon-left{
	left: .1em;
}

/*Tabela*/
.ui-datatable tbody td{
	text-align: center;
    border: 1px solid lightgray;	
}

/*Mensagem*/
.ui-growl {
	right:160px;
}

.ui-growl-item-container{	
	width:450px !important;
	opacity: initial;
}

.ui-growl-message{
	float: left !important;
	margin-left: 10px !important;
	margin-top: 10px !important;
    margin-right: 0px !important;
	width:350px !important;
}

.ui-growl-item{
	padding-bottom: 10px !important;
    padding-top: 10px !important;
    padding-left: 5px !important;
    padding-right: 10px !important;
}

.ui-growl-image{
    margin-top: 5px;
    margin-bottom: 10px
}

/* icones mensagens*/
.ui-growl-image-error{
	background-image: url(../icons/alert-box.png) !important;
}

.ui-growl-image-info{
	background-image: url(../icons/checkbox-marked.png) !important;
	background-position: initial;
}
