.div-label-filtro-assistentes{
	margin-top: 7px;
}

#div-separador-assistentes{
	padding: unset;
}

#campo-busca-assistentes{
	width: 97%;
    height: 22px;
}

.div-capacidades-servico-assistentes{
	padding-top: 15px;
}

div#div-nova-oferta > button{
	float:right;
}