#div-painel-cadastro{
	padding:40px;
}

.label-nome-categoria{
	float:right;
}

.campo-nome-categoria{
	width: 250px;
}

.div-painel-info{
	padding: 2px !important;
}

.label-valor-infopanel{
	padding:20px;
}

.label-descricao-infopanel{
	padding:20px; 
	font-size: 24px !important;
}

.combobox-infopanel{	
	float:right; 
}

.label-combobox{
	float:right; 
	margin-right:5px; 
	font-size:20px !important;
}