#div-painel-cadastro{
	padding:40px;
}

.label-nome-categoria{
	float:right;
}

.campo-nome-categoria{
	width: 250px;
}

.div-painel-info{
	padding: 2px !important;
}

.label-valor-infopanel{
	padding:20px;
}

.label-descricao-infopanel{
	padding:20px; 
	font-size: 24px !important;
}

.div-label-combobox{	
	text-align:right; 
}

.label-combobox{
	margin-right:5px; 
	font-size:23px !important;
}

.div-info-panel-adm{
	text-align:center;
}