<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>personal-assistant</display-name>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>tema</param-value>
	</context-param>
	<welcome-file-list>
  <!--  <welcome-file>assistente/index.xhtml</welcome-file>
		<welcome-file>administrador/index.xhtml</welcome-file>
		<welcome-file>contratante/index.xhtml</welcome-file> -->
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- <error-page>
		<error-code>403</error-code>
		<location>/403.xhtml</location>
	</error-page>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>personalAssistantJdbcRealm</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/login_error.xhtml</form-error-page>
		</form-login-config>
	</login-config>
	<security-constraint>
		<display-name>Paginas do administrador</display-name>
		<web-resource-collection>
			<web-resource-name>Área protegida do administrador</web-resource-name>
			<description></description>
			<url-pattern>/administrador/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>ADMINISTRADOR</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Paginas do assistente</display-name>
		<web-resource-collection>
			<web-resource-name>Área protegida do assistente</web-resource-name>
			<description></description>
			<url-pattern>/assistente/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>ASSISTENTE</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>Paginas do contratante</display-name>
		<web-resource-collection>
			<web-resource-name>Área protegida do contratante</web-resource-name>
			<description></description>
			<url-pattern>/contratante/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>CONTRATANTE</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-role>
		<role-name>ADMINISTRADOR</role-name>
	</security-role>
	<security-role>
		<role-name>ASSISTENTE</role-name>
	</security-role>
	<security-role>
		<role-name>CONTRATANTE</role-name>
	</security-role>-->
</web-app>
